<html>
  <head>
    <title>
      Eternal Blume
    </title>
    <link href="/static/css/blure.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Inconsolata" rel="stylesheet">
    {% block load_scripts %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="root">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
